apiVersion: v1
kind: ConfigMap
metadata:
  name: vault-config
  namespace: vault
  labels:
    app.kubernetes.io/instance: vault
    app.kubernetes.io/name: vault
data:
  vault.json: |
    {
      "ui": true,
      "disable_mlock": true,
      "listener": {
        "tcp": {
          "address": "0.0.0.0:8200",
          "tls_disable": 1
        }
      },
      "storage": {
        "file": {
          "path": "/vault/data"
        }
      },
      "seal": {
        "awskms": {
          "region": "us-east-2"
        }
      }
    } 