apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: ingress-nginx
  namespace: kube-system
spec:
  chart: ingress-nginx
  repo: https://kubernetes.github.io/ingress-nginx
  targetNamespace: ingress-nginx
  createNamespace: true
  version: v4.11.2
  valuesContent: |-
    controller:
      nodeSelector:
        node.kubernetes.io/workload: infrastructure
      tolerations:
      - key: node-role.kubernetes.io/control-plane
        effect: NoSchedule
      kind: DaemonSet
      hostNetwork: true
      service:
        type: ClusterIP
        ports:
          http: 80
          https: 443
      config:
        # Timeout configurations equivalent to our ServersTransport fixes
        proxy-read-timeout: "30"      # responseHeaderTimeout equivalent
        proxy-connect-timeout: "30"   # dialTimeout equivalent  
        proxy-send-timeout: "30"      # writeTimeout equivalent
        keep-alive-requests: "100"    # maxIdleConnsPerHost equivalent
        upstream-keepalive-connections: "100"
        upstream-keepalive-requests: "100"
        upstream-keepalive-timeout: "60"
        # SSL and connection optimizations
        ssl-protocols: "TLSv1.2 TLSv1.3"
        use-http2: "true"
        # Cloudflare tunnel optimization
        use-forwarded-headers: "true"
        compute-full-forwarded-for: "true"
        forwarded-for-header: "X-Forwarded-For"
        real-ip-header: "X-Forwarded-For"
        trusted-proxies: "173.245.48.0/20,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,141.101.64.0/18,108.162.192.0/18,190.93.240.0/20,188.114.96.0/20,197.234.240.0/22,198.41.128.0/17,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16"
    tcp: {}
    udp: {}